In [1]:
import pandas as pd

In [2]:
path_vac = 'brasil_vacinacao_daily.csv'
path_ocu = 'brasil_ocupacao_daily.csv'

In [3]:
df_vac = pd.read_csv(path_vac)
df_ocu = pd.read_csv(path_ocu)

In [4]:
df_vac

,Unnamed: 0,date,total_cases,new_cases,total_deaths,new_deaths,total_vaccinations,people_vaccinated,new_vaccinations,datacode
0,28061,2020-02-26,1,1,0,0,0,0,0,20200226
1,28062,2020-02-27,1,0,0,0,0,0,0,20200227
2,28063,2020-02-28,1,0,0,0,0,0,0,20200228
3,28064,2020-02-29,2,1,0,0,0,0,0,20200229
4,28065,2020-03-01,2,0,0,0,0,0,0,20200301
...,...,...,...,...,...,...,...,...,...,...
967,29028,2022-10-20,34771320,0,687423,0,473101635,187385670,322,20221020
968,29029,2022-10-21,34780462,9142,687527,104,473101789,187385670,154,20221021
969,29030,2022-10-22,34780462,0,687527,0,473101982,187385670,193,20221022
970,29031,2022-10-23,34780462,0,687527,0,473101996,187385670,14,20221023
971,29032,2022-10-24,34783786,3324,687574,47,473102012,187385670,16,20221024

In [5]:
df_ocu

,Unnamed: 0,datacode,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,ocupacaoHospitalarUti,ocupacaoHospitalarCli,saidaSuspeitaObitos,saidaSuspeitaAltas,saidaConfirmadaObitos,saidaConfirmadaAltas,ocupacaoSuspeitoCli
0,0,20200101,47,49,30,0,0,0,0,1,0,0,3,269
1,1,20200102,260,213,215,0,6,53,477,1,6,11,8,879
2,2,20200103,249,201,204,0,1,0,52,4,8,4,7,540
3,3,20200104,150,78,69,0,0,0,1,1,6,22,4,292
4,4,20200105,57,79,88,0,0,0,0,0,4,2,10,335
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,1019,20221016,0,0,0,285,314,2988,14419,66,181,89,408,0
1020,1020,20221017,0,0,0,324,514,3647,17443,66,213,103,405,0
1021,1021,20221018,0,0,0,320,482,3668,17991,68,206,104,400,0
1022,1022,20221019,0,0,0,194,384,3041,15832,67,222,103,396,0
1023,1023,20221020,0,0,0,121,213,2532,13443,7,20,37,241,0

In [14]:
df_ocu.drop(columns=['Unnamed: 0'],inplace=True)
df_vac.drop(columns=['Unnamed: 0'],inplace=True)

In [15]:
df_ocu

,datacode,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,ocupacaoHospitalarUti,ocupacaoHospitalarCli,saidaSuspeitaObitos,saidaSuspeitaAltas,saidaConfirmadaObitos,saidaConfirmadaAltas,ocupacaoSuspeitoCli
0,20200101,47,49,30,0,0,0,0,1,0,0,3,269
1,20200102,260,213,215,0,6,53,477,1,6,11,8,879
2,20200103,249,201,204,0,1,0,52,4,8,4,7,540
3,20200104,150,78,69,0,0,0,1,1,6,22,4,292
4,20200105,57,79,88,0,0,0,0,0,4,2,10,335
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,20221016,0,0,0,285,314,2988,14419,66,181,89,408,0
1020,20221017,0,0,0,324,514,3647,17443,66,213,103,405,0
1021,20221018,0,0,0,320,482,3668,17991,68,206,104,400,0
1022,20221019,0,0,0,194,384,3041,15832,67,222,103,396,0
1023,20221020,0,0,0,121,213,2532,13443,7,20,37,241,0

In [18]:
df_vac

,total_cases,new_cases,total_deaths,new_deaths,total_vaccinations,people_vaccinated,new_vaccinations,datacode
0,1,1,0,0,0,0,0,20200226
1,1,0,0,0,0,0,0,20200227
2,1,0,0,0,0,0,0,20200228
3,2,1,0,0,0,0,0,20200229
4,2,0,0,0,0,0,0,20200301
...,...,...,...,...,...,...,...,...
967,34771320,0,687423,0,473101635,187385670,322,20221020
968,34780462,9142,687527,104,473101789,187385670,154,20221021
969,34780462,0,687527,0,473101982,187385670,193,20221022
970,34780462,0,687527,0,473101996,187385670,14,20221023
971,34783786,3324,687574,47,473102012,187385670,16,20221024

In [24]:
df_merge = pd.merge( df_vac,df_ocu, on="datacode")

In [25]:
df_merge.to_csv('brasil_merge_ocupacao_vacinacao_daily.csv')