In [1]:
import pandas as pd

In [2]:
path = 'dados/owid-covid-data.csv'

In [3]:
df = pd.read_csv(path)
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,40099462.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,40099462.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,40099462.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,40099462.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,40099462.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229979,ZWE,Africa,Zimbabwe,2022-10-20,257893.0,0.0,9.429,5606.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,15993524.0,NaN,NaN,NaN,NaN
229980,ZWE,Africa,Zimbabwe,2022-10-21,257893.0,0.0,9.429,5606.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,15993524.0,NaN,NaN,NaN,NaN
229981,ZWE,Africa,Zimbabwe,2022-10-22,257893.0,0.0,9.429,5606.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,15993524.0,NaN,NaN,NaN,NaN
229982,ZWE,Africa,Zimbabwe,2022-10-23,257893.0,0.0,0.000,5606.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,15993524.0,NaN,NaN,NaN,NaN
229983,ZWE,Africa,Zimbabwe,2022-10-24,257893.0,0.0,0.000,5606.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,15993524.0,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229984 entries, 0 to 229983
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    229984 non-null  object
 1   continent                                   216999 non-null  object
 2   location                                    229984 non-null  object
 3   date                                        229984 non-null  object
 4   total_cases                                 216921 non-null  float64
 5   new_cases                                   216649 non-null  float64
 6   new_cases_smoothed                          215453 non-null  float64
 7   total_deaths                                197721 non-null  float64
 8   new_deaths                                  197658 non-null  float64
 9   new_deaths_smoothed                         196478 non-null  float64
 10  total_cases_per_million                     215930 non-null  float64
 11  new_cases_per_million                       215658 non-null  float64
 12  new_cases_smoothed_per_million              214467 non-null  float64
 13  total_deaths_per_million                    196743 non-null  float64
 14  new_deaths_per_million                      196680 non-null  float64
 15  new_deaths_smoothed_per_million             195505 non-null  float64
 16  reproduction_rate                           170597 non-null  float64
 17  icu_patients                                31366 non-null   float64
 18  icu_patients_per_million                    31366 non-null   float64
 19  hosp_patients                               35163 non-null   float64
 20  hosp_patients_per_million                   35163 non-null   float64
 21  weekly_icu_admissions                       7824 non-null    float64
 22  weekly_icu_admissions_per_million           7824 non-null    float64
 23  weekly_hosp_admissions                      18557 non-null   float64
 24  weekly_hosp_admissions_per_million          18557 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          65696 non-null   float64
 35  people_vaccinated                           62903 non-null   float64
 36  people_fully_vaccinated                     60195 non-null   float64
 37  total_boosters                              35778 non-null   float64
 38  new_vaccinations                            54442 non-null   float64
 39  new_vaccinations_smoothed                   134067 non-null  float64
 40  total_vaccinations_per_hundred              65696 non-null   float64
 41  people_vaccinated_per_hundred               62903 non-null   float64
 42  people_fully_vaccinated_per_hundred         60195 non-null   float64
 43  total_boosters_per_hundred                  35778 non-null   float64
 44  new_vaccinations_smoothed_per_million       134067 non-null  float64
 45  new_people_vaccinated_smoothed              133602 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  133602 non-null  float64
 47  stringency_index                            168991 non-null  float64
 48  population_density                          200842 non-null  float64
 49  median_age                                  185830 non-null  float64
 50  aged_65_older                               183869 non-null  float64
 51  aged_70_older                               184858 non-null  float64
 52  gdp_per_capita                              185239 non-null  float64
 53  extreme_poverty                             120685 non-null  float64
 54  cardiovasc_death_rate                       185327 non-null  float64
 55  diabetes_prevalence                         194864 non-null  float64
 56  female_smokers                              140324 non-null  float64
 57  male_smokers                                138403 non-null  float64
 58  handwashing_facilities                      91244 non-null   float64
 59  hospital_beds_per_thousand                  164968 non-null  float64
 60  life_expectancy                             211374 non-null  float64
 61  human_development_index                     180812 non-null  float64
 62  population                                  228993 non-null  float64
 63  excess_mortality_cumulative_absolute        7686 non-null    float64
 64  excess_mortality_cumulative                 7686 non-null    float64
 65  excess_mortality                            7736 non-null    float64
 66  excess_mortality_cumulative_per_million     7686 non-null    float64
dtypes: float64(62), object(5)
memory usage: 117.6+ MB

In [5]:
df['location'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'High income', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'International', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Low income',
       'Lower middle income', 'Luxembourg', 'Macao', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Korea', 'North Macedonia',
       'Northern Cyprus', 'Northern Ireland', 'Northern Mariana Islands',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Scotland', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Vatican', 'Venezuela', 'Vietnam', 'Wales', 'Wallis and Futuna',
       'Western Sahara', 'World', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [6]:
df = df[df['location'] == 'Brazil']
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
28061,BRA,South America,Brazil,2020-02-26,1.0,1.0,NaN,NaN,NaN,NaN,...,17.9,NaN,2.2,75.88,0.765,214326223.0,NaN,NaN,NaN,NaN
28062,BRA,South America,Brazil,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,17.9,NaN,2.2,75.88,0.765,214326223.0,NaN,NaN,NaN,NaN
28063,BRA,South America,Brazil,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,17.9,NaN,2.2,75.88,0.765,214326223.0,NaN,NaN,NaN,NaN
28064,BRA,South America,Brazil,2020-02-29,2.0,1.0,NaN,NaN,NaN,NaN,...,17.9,NaN,2.2,75.88,0.765,214326223.0,2427.6,1.14,3.12,11.326659
28065,BRA,South America,Brazil,2020-03-01,2.0,0.0,NaN,NaN,NaN,NaN,...,17.9,NaN,2.2,75.88,0.765,214326223.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29028,BRA,South America,Brazil,2022-10-20,34771320.0,0.0,4493.571,687423.0,0.0,50.571,...,17.9,NaN,2.2,75.88,0.765,214326223.0,NaN,NaN,NaN,NaN
29029,BRA,South America,Brazil,2022-10-21,34780462.0,9142.0,4857.143,687527.0,104.0,54.714,...,17.9,NaN,2.2,75.88,0.765,214326223.0,NaN,NaN,NaN,NaN
29030,BRA,South America,Brazil,2022-10-22,34780462.0,0.0,4857.143,687527.0,0.0,54.714,...,17.9,NaN,2.2,75.88,0.765,214326223.0,NaN,NaN,NaN,NaN
29031,BRA,South America,Brazil,2022-10-23,34780462.0,0.0,4857.143,687527.0,0.0,54.714,...,17.9,NaN,2.2,75.88,0.765,214326223.0,NaN,NaN,NaN,NaN
29032,BRA,South America,Brazil,2022-10-24,34783786.0,3324.0,5332.000,687574.0,47.0,61.429,...,17.9,NaN,2.2,75.88,0.765,214326223.0,NaN,NaN,NaN,NaN

In [7]:
df_vac = df[['date','total_cases','new_cases','total_deaths','new_deaths','total_vaccinations','people_vaccinated','new_vaccinations']]
df_vac

,date,total_cases,new_cases,total_deaths,new_deaths,total_vaccinations,people_vaccinated,new_vaccinations
28061,2020-02-26,1.0,1.0,NaN,NaN,NaN,NaN,NaN
28062,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,NaN
28063,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,NaN
28064,2020-02-29,2.0,1.0,NaN,NaN,NaN,NaN,NaN
28065,2020-03-01,2.0,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
29028,2022-10-20,34771320.0,0.0,687423.0,0.0,473101635.0,187385670.0,322.0
29029,2022-10-21,34780462.0,9142.0,687527.0,104.0,473101789.0,187385670.0,154.0
29030,2022-10-22,34780462.0,0.0,687527.0,0.0,473101982.0,187385670.0,193.0
29031,2022-10-23,34780462.0,0.0,687527.0,0.0,473101996.0,187385670.0,14.0
29032,2022-10-24,34783786.0,3324.0,687574.0,47.0,473102012.0,187385670.0,16.0

In [8]:
df_vac.fillna("0", inplace=True)

/tmp/ipykernel_5510/3805174382.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vac.fillna("0", inplace=True)

In [9]:
df_vac

,date,total_cases,new_cases,total_deaths,new_deaths,total_vaccinations,people_vaccinated,new_vaccinations
28061,2020-02-26,1.0,1.0,0,0,0,0,0
28062,2020-02-27,1.0,0.0,0,0,0,0,0
28063,2020-02-28,1.0,0.0,0,0,0,0,0
28064,2020-02-29,2.0,1.0,0,0,0,0,0
28065,2020-03-01,2.0,0.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
29028,2022-10-20,34771320.0,0.0,687423.0,0.0,473101635.0,187385670.0,322.0
29029,2022-10-21,34780462.0,9142.0,687527.0,104.0,473101789.0,187385670.0,154.0
29030,2022-10-22,34780462.0,0.0,687527.0,0.0,473101982.0,187385670.0,193.0
29031,2022-10-23,34780462.0,0.0,687527.0,0.0,473101996.0,187385670.0,14.0
29032,2022-10-24,34783786.0,3324.0,687574.0,47.0,473102012.0,187385670.0,16.0

In [10]:
df_vac["datacode"] = df_vac['date'].apply(lambda x : x.replace('-',''))
df_vac

/tmp/ipykernel_5510/1661876743.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vac["datacode"] = df_vac['date'].apply(lambda x : x.replace('-',''))

,date,total_cases,new_cases,total_deaths,new_deaths,total_vaccinations,people_vaccinated,new_vaccinations,datacode
28061,2020-02-26,1.0,1.0,0,0,0,0,0,20200226
28062,2020-02-27,1.0,0.0,0,0,0,0,0,20200227
28063,2020-02-28,1.0,0.0,0,0,0,0,0,20200228
28064,2020-02-29,2.0,1.0,0,0,0,0,0,20200229
28065,2020-03-01,2.0,0.0,0,0,0,0,0,20200301
...,...,...,...,...,...,...,...,...,...
29028,2022-10-20,34771320.0,0.0,687423.0,0.0,473101635.0,187385670.0,322.0,20221020
29029,2022-10-21,34780462.0,9142.0,687527.0,104.0,473101789.0,187385670.0,154.0,20221021
29030,2022-10-22,34780462.0,0.0,687527.0,0.0,473101982.0,187385670.0,193.0,20221022
29031,2022-10-23,34780462.0,0.0,687527.0,0.0,473101996.0,187385670.0,14.0,20221023
29032,2022-10-24,34783786.0,3324.0,687574.0,47.0,473102012.0,187385670.0,16.0,20221024

In [11]:
df_vac.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 972 entries, 28061 to 29032
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                972 non-null    object
 1   total_cases         972 non-null    float64
 2   new_cases           972 non-null    object
 3   total_deaths        972 non-null    object
 4   new_deaths          972 non-null    object
 5   total_vaccinations  972 non-null    object
 6   people_vaccinated   972 non-null    object
 7   new_vaccinations    972 non-null    object
 8   datacode            972 non-null    object
dtypes: float64(1), object(8)
memory usage: 75.9+ KB

In [15]:
df_vac['total_cases'] = df_vac['total_cases'].astype('int')
df_vac['new_cases'] =df_vac['new_cases'].astype('int')
df_vac['total_deaths'] = df_vac['total_deaths'].astype('int')
df_vac['total_vaccinations'] = df_vac['total_vaccinations'].astype('int')
df_vac['people_vaccinated'] = df_vac['people_vaccinated'].astype('int')
df_vac['new_vaccinations'] = df_vac['new_vaccinations'].astype('int')
df_vac['new_deaths'] = df_vac['new_deaths'].astype('int')

/tmp/ipykernel_5510/3648996990.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vac['total_cases'] = df_vac['total_cases'].astype('int')
/tmp/ipykernel_5510/3648996990.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vac['new_cases'] =df_vac['new_cases'].astype('int')
/tmp/ipykernel_5510/3648996990.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vac['total_deaths'] = df_vac['total_deaths'].astype('int')
/tmp/ipykernel_5510/3648996990.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vac['total_vaccinations'] = df_vac['total_vaccinations'].astype('int')
/tmp/ipykernel_5510/3648996990.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vac['people_vaccinated'] = df_vac['people_vaccinated'].astype('int')
/tmp/ipykernel_5510/3648996990.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vac['new_vaccinations'] = df_vac['new_vaccinations'].astype('int')
/tmp/ipykernel_5510/3648996990.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_vac['new_deaths'] = df_vac['new_deaths'].astype('int')

In [17]:
df_vac.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 972 entries, 28061 to 29032
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                972 non-null    object
 1   total_cases         972 non-null    int64
 2   new_cases           972 non-null    int64
 3   total_deaths        972 non-null    int64
 4   new_deaths          972 non-null    int64
 5   total_vaccinations  972 non-null    int64
 6   people_vaccinated   972 non-null    int64
 7   new_vaccinations    972 non-null    int64
 8   datacode            972 non-null    object
dtypes: int64(7), object(2)
memory usage: 75.9+ KB

In [18]:
df_vac.to_csv('brasil_vacinacao_daily.csv')